section.feedback
  .wrapper
    .feedback__title
      h2 задать вопрос
      span Наши сотрудники проведут профессиональную консультацию
    form.feedback__form
      input(type="text", name="name", placeholder="Имя")
      input(type="text", name="phone", placeholder="Телефон")
      textarea(name="massage", placeholder="Текст сообщения")
      button задать вопрос
    .feedback__gallery
      ul
        li
          img(src="img/gallery-img-1.jpg")
        li
          img(src="img/gallery-img-2.jpg")
        li
          img(src="img/gallery-img-3.jpg")
      a(href="#") все фотографии
