footer.footer
  .wrapper
    .footer__contacts
      .logo
        a(href="index.html")
          img(src="img/logo.png")
          span Warehouse solutions
      span.footer__contacts-adress 123456, Санкт-Петербург, Длинноеназвание ул., дом 123, корп. 1
      a(href="mailto:info@domain.ru").footer__contacts-email info@domain.ru
      .footer__contacts-phone
        a(href="tel:+781231234567") +7 (812) 123-45-67
        a(href="#") Заказать звонок
    .footer__nav
      ul.social
        li
          a(href="#", target="_blank")
            i.fa.fa-vk(aria-hidden="true")
        li
          a(href="#", target="_blank")
            i.fa.fa-facebook(aria-hidden="true")
        li
          a(href="#", target="_blank")
            i.fa.fa-twitter(aria-hidden="true")
        li
          a(href="#", target="_blank")
            i.fa.fa-odnoklassniki(aria-hidden="true")
        li
          a(href="#", target="_blank")
            i.fa.fa-instagram(aria-hidden="true")
      nav.nav.nav--footer
        ul.nav__list
          li.nav__list-item
            a(href="#") о компании
          li.nav__list-item
            a(href="#") складская техника
          li.nav__list-item
            a(href="#") услуги
          li.nav__list-item
            a(href="#") акции
          li.nav__list-item
            a(href="#") новости
          li.nav__list-item
            a(href="#") фотогалерея
          li.nav__list-item
            a(href="#") контакты
