header.header
  .header__top
    .wrapper
      .header__top-search
        form
          input(type="text", placeholder="Поиск по сайту")
      ul.social
        li
          a(href="#", target="_blank")
            i.fa.fa-vk(aria-hidden="true")
        li
          a(href="#", target="_blank")
            i.fa.fa-facebook(aria-hidden="true")
        li
          a(href="#", target="_blank")
            i.fa.fa-twitter(aria-hidden="true")
        li
          a(href="#", target="_blank")
            i.fa.fa-odnoklassniki(aria-hidden="true")
        li
          a(href="#", target="_blank")
            i.fa.fa-instagram(aria-hidden="true")
  .header__bottom
    .wrapper
      .header__bottom-slogan
        h1 Слоган нашей компании — лучший слоган в Петербурге
      .header__bottom-logo.logo
        a(href="index.html")
          img(src="img/logo.png")
          span Warehouse solutions
      .header__bottom-phone
        a(href="#") Заказать звонок
        a(href="tel:+78121234567") +7 (812) 123-45-67
