section.intro
  .wrapper
    ul.intro__offers
      li
        a(href="#")
          h3 Техцентр по обслуживанию и ремонту
        img(src="img/intro-img-1.jpg")
      li
        a(href="#")
          h3 Заказать тест-драйв техники
        img(src="img/intro-img-2.jpg")
      li
        a(href="#")
          h3 сезонная распродажа
        img(src="img/intro-img-3.jpg")
    intro__description
      p В соответствии с законом Ципфа, пробный макет экономит эксклюзивный рекламный макет, полагаясь на инсайдерскую информацию. Согласно  классической работе Филипа Котлера, точечное воздействие реализует коллективный охват аудитории, не считаясь с затратами. Продукт, не меняя концепции, изложенной выше, сбалансирован. Цена клика неоднозначна.
      p Потребительский рынок, суммируя приведенные примеры, сбалансирован. В общем, построение бренда исключительно упорядочивает процесс всего стратегического планирования, оптимизируя бюджеты. Рейт-карта искажает побочный PR-эффект, используя опыт некоторых предыдущих кампаний. Согласно  классической работе Филипа Котлера, точечное воздействие реализует коллективный охват аудитории, не считаясь с затратами. Продукт, не меняя концепции, изложенной выше, сбалансирован. Цена клика неоднозначна. В соответствии с законом Ципфа, пробный макет экономит эксклюзивный рекламный макет, полагаясь на инсайдерскую информацию. Согласно  классической работе Филипа Котлера, точечное воздействие реализует коллективный охват аудитории, не считаясь с затратами. Продукт, не меняя концепции, изложенной выше, сбалансирован. Цена клика неоднозначна. Потребительский рынок, суммируя приведенные примеры, сбалансирован. В общем, построение бренда исключительно упорядочивает процесс всего стратегического планирования, оптимизируя бюджеты. Рейт-карта искажает побочный PR-эффект, используя опыт некоторых предыдущих кампаний. Согласно  классической работе Филипа Котлера, точечное воздействие реализует коллективный охват аудитории, не считаясь с затратами. Продукт, не меняя концепции, изложенной выше, сбалансирован. Цена клика неоднозначна.
