.nav__open
  i.fa.fa-bars(aria-hidden="true")
nav.nav.nav--header
  .wrapper
    ul.nav__list
      li.nav__list-item.nav__list-item--active
        a(href="#") о компании
      li.nav__list-item
        a(href="#") складская техника
      li.nav__list-item
        a(href="#") услуги
      li.nav__list-item
        a(href="#") акции
      li.nav__list-item
        a(href="#") новости
      li.nav__list-item
        a(href="#") фотогалерея
      li.nav__list-item
        a(href="#") контакты
    .nav__close
      
