section.publications
  .wrapper
    .issue
      h2
        span статьи
      img(src="img/issue-img.jpg")
      h4 Вы хотите оптимизировать или модернизировать склад? Мы позаботимся об этом.
      span.issue__date 25 декабря, 2015
      p.issue__announce Казалось бы, что может быть проще склада? Открытая площадка или пустое помещение, где кроме стен и крыши ничего нет и быть не может, - вот и весь склад. Его следы теряются в глубине веков; предположительно, первые хранилища возникли в тот момент, когда оседлый житель впервые получил излишек урожая либо когда кочевник - добровольно или вынужденно - забил больше скота, чем мог съесть или переработать за раз. Успешно выполняли свою функцию огромные пифосы
    .news
      h2
        span новости
      article.news__item
        img(src="img/new-img-1.jpg")
        .news__item-description
          .news__item-date 25 декабря, 2015
          h5.news__item-annouce Jungheinrich представляет новый комбинированный штабелер эргономичной облегченной конструкции: две смены на одном аккумуляторе.
      article.news__item
        img(src="img/new-img-2.jpg")
        .news__item-description
          .news__item-date 11 ноября, 2015
          h5.news__item-annouce Новый проект Минпромторга в пользу российской спецтехники.
      article.news__item
        img(src="img/new-img-3.jpg")
        .news__item-description
          .news__item-date 30 сентября, 2015
          h5.news__item-annouce Двойная выгода при покупке штабелеров! Только одну неделю, с 11 по 18 августа, действуют специальные цены на штабелеры с электроподъемом Xilin.
      article.news__item
        img(src="img/new-img-1.jpg")
        .news__item-description
          .news__item-date 25 декабря, 2015
          h5.news__item-annouce Jungheinrich представляет новый комбинированный штабелер эргономичной облегченной конструкции: две смены на одном аккумуляторе.
      article.news__item
        img(src="img/new-img-2.jpg")
        .news__item-description
          .news__item-date 11 ноября, 2015
          h5.news__item-annouce Новый проект Минпромторга в пользу российской спецтехники.
